<nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
        <h3 class="nav-brand">Project Sandbox</h3>

        <button id="toggle_button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="Mynavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/Adminuser">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/Adminfeedbacks">Feedbacks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/Adminprojects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                </ul>
        </div>
    </div>
</nav>