<% if (errors == ''){ %>
<% } else{%>
        <div class="d-flex justify-content-center">
            <div style="width:99%; text-align:center" class="alert alert-primary" role="alert">
                <%-JSON.stringify(errors.errors[0].msg)%>
            </div>
        </div>
<%}%>

<% if (adminError == ''){ %>
<%} else {%>
    <div class="d-flex justify-content-center">
        <div style="width:99%; text-align:center" class="alert alert-primary" role="alert">
            <%-adminError%>
        </div>
    </div>
<%}%>



<% //errs = JSON.stringify(errors.errors) %>
<% //JSON.parse(errs).forEach( element => { %>

<% //}) %>

