ul{
    list-style-type:none;
    color: black;
}

.navbar-toggler{
    padding: 0px;
    border: 1px;
}

ul > li {
    font-size: 17px;
    font-weight:500;
    margin-right: 18px;
}
a{
    color: rgb(37, 36, 36);
}
a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0px 0px #c5bdbd;
    transition: 300ms;
}
h3{
    padding-top: 7px;
}