nav {
    display: flex;
    height: 70px;
    background-color: rgb(248, 194, 124);
    box-shadow: 5px 7px 12px #888888;
}

.icon-bar{
    background-color: black;
}

body{
    background: rgb(247, 226, 169);
}
h3{
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 20px;
}
main{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    padding-bottom: 60px;
}

main button{
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    font-weight: bold;
    border-width: 3px;
    background-color: rgb(245, 200, 142);

}
main button:hover{
    background-color: rgb(253, 196, 122);
    transition: 300ms;
}




